:host {
    --color-texto: #DFEE09;
    --color-hover: #007bff;
    --color-btn: #A084BE;
    --color-background: #fff;
    --color-border:#A084BE;
}


body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#from-div {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-background);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}

#form-login {
    margin-top: 10%;
}
#btn-login {
    width: 100%;
    padding: 10px;
    background-color: var(--color-btn);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10%;
}

#btn-login:hover {
    background-color: var(--color-hover);
}

