<nav class="row bg-body-tertiary bg-success">
  <div class="col-2 d-flex justify-content-center">
    <img src="/Img/logoP.jpeg" alt="logoP">
  </div>
  <div class="col-7 align-content-center texto">
    <a class="navbar-brand  tipografiaPagina">Patitas y Garritas </a>
    <input id="input-barra" type="search" placeholder="Buscar Producto" aria-label="Search">
    <button id="btn-barra" type="submit">Buscar</button>
  </div>
  <div class="col-3 align-content-center">
    <form class="d-flex  " role="search">
      <!-- <input id="input-barra" type="search" placeholder="Buscar Producto" aria-label="Search">
      <button id="btn-barra" type="submit">Buscar</button> -->
    </form>
  </div>
</nav>

|