:host {
  --color-bodrer:#FFFFFF;
  --color-fondo-btn: #fff;
  --boder-btn:2px;
  --color-titulo: #000;
}

/* img{
  height: 90px;
  width: 90px;
  border-radius: 50px;
  margin-top: 2px;
}

#div-barra {
  margin: 1% 30% 10% 20%;
}

.text-color-barra {
  color: var(--color-titulo);
}

img{
  height: 90px;
  width: 90px;
  border-radius: 50px;
  margin-top: 2px;
}

.col-3 {
  margin-left: 39%;
}

.row{
  background-image: url('/Img/fondo-perros.JPG');
}

#input-barra {
  padding: 7px 0;
  border-radius: 20px 0 0 20px;
  border: var(--color-bodrer) solid var(--boder-btn);
  margin-left: 0%;
}

#btn-barra {
  border-radius: 0 20px 20px 0;
  padding: 7px 10px;
  background-color: var(--color-fondo-btn);
  border: var(--color-bodrer) solid var(--boder-btn);
  margin-left: 0%;
}

img {
  height: 90px;
  width: 90px;
  border-radius: 50%; 
  margin-top: 2px;
} */

img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-top: 2px;
}

#div-barra {
  margin: 1% 30% 10% 20%;
}

.text-color-barra {
  color: var(--color-titulo);
}

/* .col-3 {
  margin-left: 39%;
} */

#img-fondo {
  background-image: url('/Img/fondo-perros.JPG');
}

#input-barra {
  padding: 7px 0;
  border-radius: 20px 0 0 20px;
  border: var(--color-bodrer) solid var(--boder-btn);
  margin-left: 0%;
}

#btn-barra {
  border-radius: 0 20px 20px 0;
  padding: 7px 10px;
  background-color: var(--color-fondo-btn);
  border: var(--color-bodrer) solid var(--boder-btn);
  margin-left: -3%;
}