<p id="titulo">ADOPTAME</p>

<div>
    
    <div class="img-adocion">
        <img class="img-adocion" src="/Img/animales_adopcion/portada_animales.jpg" alt="img-principal">
    </div>
    <p id="p-importancia-d-adptar">
        Adoptar un gato o un perro no solo significa abrir las puertas de tu hogar a un nuevo compañero peludo, sino también realizar un acto de amor y responsabilidad que impacta positivamente en la vida de estos animales y en la sociedad en general.
        Al adoptar, le brindas a un animal que ha sido abandonado o maltratado la oportunidad de tener un hogar lleno de cariño, seguridad y estabilidad. Le ofreces una segunda oportunidad para vivir una vida plena y feliz, libre de sufrimiento y miedo.
    </p>    
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <app-card 
                    titulo="KITTY" 
                    edadGenero="3 MESES - HEMBRA" 
                    descripcion="Rescatada después de encontrarme en un balde. Puedo permanecer en espacios pequeños. Estilizada, vacunas al dia." 
                    img="/Img/animales_adopcion/kitty-pequeña.jpg">
                |</app-card>
                <button class="btn-adopcion">Adoptame</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <app-card 
                    titulo="MAX" 
                    edadGenero="2 AÑOS - MACHO" 
                    descripcion="Rescatado en una finca lastimado y golpeado. Puedo permanecer en apto, casa y finca. Estilizada, vacunas al dia." 
                    img="/Img/animales_adopcion/gato_max.jpg">
                </app-card>
                <button class="btn-adopcion">Adoptame</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <app-card 
                    titulo="JACKO"
                    edadGenero="3 MESES - MACHO" 
                    descripcion="Fue encontador en un parque. Puedo permanecer en apto y casa. Estilizada, vacunas al dia."
                    img="/Img/animales_adopcion/jacko-pequeño.jpg">
                </app-card>
                <button class="btn-adopcion">Adoptame</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <app-card 
                    titulo="RAMBO" 
                    edadGenero="3 AÑOS - MACHO" 
                    descripcion="Fue abandonado en una finca, Cuida fincas no deja entrar a perro desconocidos y es bastante Obediente y arrear vacas, Estilizada, vacunas al dia." 
                    img="/Img/animales_adopcion/rambo_joven.jpg">
                </app-card>
                <button class="btn-adopcion">Adoptame</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <app-card 
                    titulo="MAGGIE" 
                    edadGenero="13 MESES - HEMBRA" 
                    descripcion="Fue abandonado en una finca. Puedo permanecer en fincas Estilizada, vacunas al dia." 
                    img="/Img/animales_adopcion/gata_1.jpg">
                </app-card>
                <button class="btn-adopcion">Adoptame</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <app-card 
                    titulo="MICHI" edadGenero="11 MESES - HEMBRA" 
                    descripcion="Fue abandonado en una finca.  Puedo permanecer en fincas Estilizada, vacunas al dia." 
                    img="/Img/animales_adopcion/gata_2.jpg">
                </app-card>
                <button class="btn-adopcion">Adoptame</button>
            </div>
        </div>
    </div>
</div>